<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
   <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Показательная функция</p></div>
        <article id="whois">
        <div class="z2"><p>Основная информация</p></div>
        <div class=" minf">Функция заданная формулой вида y = aˣ , где и a>0; a≠1 
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>исследование функции</p></div>
        
    <div class=" minf"><p>при a > 1; y = 2ˣ</p>
        <p>1. Область определения – x ∈(− ∞, + ∞). </p>
        <p>2. Множество значений: E(y)=[0;+∞).</p>
        <p> 3. особый случай:
            если x = 0; y = 1 значит график проходит через точку (0;1) и лежит в 1 и 2 четвертях
        </p>
        <p>4. нулей функции не имеет</p>
        <p>5. Функция принимает только положительные значения</p>
        <p>6. Промежутки монотонности
            x¹>x² то 2ˣ¹>2ˣ²
            функция возрастает на всей D(y)
        </p>
        <p>7. точкек экстремумы и экстремумов не имеет, наибольших и наименьших значений не имеет</p>
        <p>8. построение графика функции</p>
        <img src="..\projectall1\img\exponential_func+.png">
        <p>при 0 < a < 1; y = (1/2)ˣ </p>
        <p>1. Область определения – x ∈(− ∞, + ∞). </p>
        <p>2. Множество значений: E(y)=[0;+∞).</p>
        <p> 3. особый случай:
            если x = 0; y = 1 значит график проходит через точку (0;1) и лежит в 1 и 2 четвертях
        </p>
        <p>4. нулей функции не имеет</p>
        <p>5. Функция принимает только положительные значения</p>
        <p>6. Промежутки монотонности
            x¹>x² то (1/2)ˣ¹<(1/2)ˣ²
            функция убывает на всей D(y)
        </p>
        <p>7. точкек экстремумы и экстремумов не имеет, наибольших и наименьших значений не имеет</p>
        <p>8. построение графика функции</p>
        <img src="..\projectall1\img\exponential_func-.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>Показательную функцию применяют в разных областях науки (физика, биология, химия и т.д.).
         Вот лишь несколько примеров. Все эти явления происходят согласно данной функции: рост деревьев,
          снижение давления воздуха с высотой, рост числа бактерий.
        Также данная функция используется при расчетах ядерных реакций,
         расчете количества топлива при проектировании ракет для полета в космос.</p></div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "js\project_js.js"></script>
</body>
    
</html>