<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Дробно-линейная функция</p></div>
        <article id="whois">
        <div class="z2"><p>Определение</p></div>
        <div class=" minf">Функция заданная формулой вида y = (ax + b)/ (cx + d).
             <p>Дробно-линейная функция — это числовая функция, которая может быть представлена в виде дроби,
             числителем и знаменателем которой являются линейные функции,</p>
             <p>где x является переменной, a, b, c, d – это произвольные числа.</p>
              <p>Главным условием дробно-линейной функции считается отличие от нуля произвольного числа C и разности ad и BD. Действительно,
              если с будет равно нулю, то получится стандартная линейная функция.</p>
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>Исследование дробно-линейной функции</p></div>
    <div class=" minf"><p>1. D(y) =(-∞;-(d/c))U(-(d/c);+∞) </p>
        <p>2. E(y) =(-∞;a/c)U(-(d/c);+∞)</p>
        <p> 3. Функция четная</p>

        <p>4. Нули функции x = 0 при y = b/d, d≠0.</p>
        <p> 5. Возрастает на промежутках всей области определения, если bc-ad < 0.</p>
            <p>Убывает на промежутках всей области определения, если bc-ad > 0.</p>
            <p> 6. Возрастает на интервалах, где (ax + b > 0) (на этих участках (a > 0)),</p>
        <p>убывает, где (ax + b < 0) (на этих участках (a < 0))</p>
        <p>6. Вертикальной асимптотой является прямая х = -d/c, а горизонтальной асимптотой – прямая y =a/c;</p> <p> наибольших и наименьших значений не имеет</p>
        <img src="static\img\fractional_linear_func.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">

<div class="minf">
            <p> 1. <b>Экономика и финансы:</b>  дробно-линейные функции могут использоваться для моделирования различных финансовых процессов, таких как рост населения, доходы и расходы компаний.</p>
        
            <p>2. <b>Техникические науки:</b> зона слышимости звука пролетающего самолета - частный случай гиперболы. Если самолет движется со сверхзвуковой скоростью, то в воздухе зона слышимости образует конус.</p>
        <img src="static\img\airplane.png">
            <p>3. <b>Медицина:</b> В медицинских исследованиях степенные дробно-линейные функции могут использоваться для анализа данных, моделирования распространения болезней.</p>
        
            <p>4. <b>Социология и демография:</b> С помощью степенных дробно-линейных функций можно анализировать динамику населения, распространение и влияние различных социальных явлений, таких как тенденции воспроизводства населения.</p>
        
            <p>5. <b>Криптография и информационная безопасность:</b> В области криптографии степенные дробно-линейные функции могут использоваться для разработки надежных алгоритмов шифрования данных.</div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>