<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Дробно-линейная функция</p></div>
        <article id="whois">
        <div class="z2"><p>Определение</p></div>
        <div class=" minf">Функция вида y = (ax + b)/ (cx + d),
             Дро́бно-лине́йная фу́нкция — это числовая функция, которая может быть представлена в виде дроби,
             числителем и знаменателем которой являются линейные функции.
             где x является переменной, a, b, c, d – это произвольные числа.
              Главным условием дробно-линейной функции считается отличие от нуля произвольного числа C и разности ad и BD. Действительно,
              если с будет равно нулю, то получится стандартная линейная функция.
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>Исследование функции</p></div>
    <div class=" minf"><p>1. Область определения : D(y) =(-∞;-(d/c))U(-(d/c);+∞) </p>
        <p>2. Множество значений: E(y) =(-∞;a/c)U(-(d/c);+∞)</p>
        <p> 3. Четность, нечетность. функция четная</p>

        <p>4. нули функции x = 0 при y = b/d, d≠0.</p>
        <p> 5. Промежутки знакопостоянства. Функция убывает на промежутках всей области определения, если bc-ad > 0 
            и возрастает на промежутках всей области определения, если bc-ad < 0. </p>
            <p> 6. Промежутки монотонности. Функция возрастает на интервалах, где (ax + b > 0) (на этих участках (a > 0)), и убывает, где (ax + b < 0) (на этих участках (a < 0)) </p>
        <p>6. Вертикальной асимптотой является прямая х = -d/c, а горизонтальной асимптотой – прямая y =a/c;  наибольших и наименьших значений не имеет</p>
        <img src="static\img\fractional_linear_func.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>дробно-линейные функции часто находят применение в различных областях жизни и науки. Вот несколько областей, где они могут быть использованы:</p>

        <p> 1. Экономика и финансы: Степенные дробно-линейные функции могут использоваться для моделирования различных финансовых процессов, таких как рост населения, доходы и расходы компаний.</p>
        
            <p>2. Техника: частный случай гиперболы - зона слышимости звука пролетающего самолета. Если самолет движется со сверхзвуковой скоростью, то в воздухе зона слышимости образует конус.</p>
        <img src="static\img\airplane.png">
                <p>3. Медицина: В медицинских исследованиях степенные дробно-линейные функции могут использоваться для анализа данных, моделирования распространения болезней.</p>
        
                    <p>4. Социология и демография: С помощью степенных дробно-линейных функций можно анализировать динамику населения, распространение и влияние различных социальных явлений, таких как тенденции воспроизводства населения.</p>
        
                        <p>5. Криптография и информационная безопасность: В области криптографии степенные дробно-линейные функции могут использоваться для разработки надежных алгоритмов шифрования данных.</div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>