<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>


            <div class="z1"><p>Линейная функция</p></div>
     <div class="z2"><p>Определение</p></div>
        <div class=" minf">Функция вида y = kx + b , где и k – b некоторые числа,
            называется линейной функцией. Коэффициент b – свободный член
              Коэффициент k – угловой коэффициент
        <br></div>

    <article id="gallery"></article>
        <div class="z2"><p>Исследование функции</p></div>
        <div class=" minf">
        <p>1. Область определения D(y)=R. </p>
        <p>2. Множество значений: E(y)=R</p>
        <p> 3. Функция y = kx + b будет являться  нечетной, если b = 0,
             так как тогда функция будет обладать осевой симметрией относительно начала координат.
             Если b ≠ 0, то функция будет общего вида, не обладающая ни четностью, ни нечетностью.</p>
        <p>4. Нули функции  x = -b/k, </p>
        <p> 5. Промежутки знакопостоянства. Если k < 0, функция положительна при x < -b/k и отрицательна при x > -b/k.</p>
        <p>6. Промежутки монотонности. Если k < 0, функция убывает на всей D(y) </p>
        <p>7.  Точки экстремума функции. функция имеет минимум в точке (-b/k, -b), а максимума нет.</p>
        <p>8. Наибольших и наименьших значений нет</p>
        <img src="static\img\line_funk.png">
    </div>
    </div>
    <div class="z1"><p>Частный случай линейной функции: прямая пропорциональность</p></div>
        <article id="whois">
            <div class="z2"><p>Определение</p></div>
        <div class=" minf">
             функция, заданная формулой вида y = kx, k-любое число, x и y - переменные.
            График - прямая, проходящая через начало координат.
        <br></div>
            <div class="z2"><p>Вспомните</p></div>
<div class=" minf">
             Две величины называются прямо пропорциональными, если при увеличении (уменьшении) одной из них в несколько раз другая увеличивается (уменьшается) во столько же раз.
        <br></div>
    <article id="gallery"></article>
        <div class="z2"><p>Исследование функции</p></div>
        <div class=" minf">
        <p>1. Область определения D(y)=R</p>
        <p>2. Множество значений: E(y)=R</p>
        <p> 3. Функция нечетная</p>
        <p>4. Нули функции у = 0 при x = 0</p>
        <p> 5. Промежутки знакопостоянства. Если k < 0, y>0 при х>0, y<0 при х<0.</p>
            <p> Если k > 0, y>0 при х<0, y<0 при х>0</p>
        <p>6. Промежутки монотонности. Если k < 0, функция убывает на всей D(y), Если k >0, функция возрастает на всей D(y) </p>
        <p>7.  Точки экстремума функции. точек экстремума нет.</p>
        <p>8. Наибольших и наименьших значений нет</p>
        <img src="static\img\line_pr.png">
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>Примеры применения линейной функции в жизни:</p>
        
        <p> Потребление электроэнергии.

            Абсолютно все пользуются электроприборами.
             Они потребляют энергию. Чем дольше мы используем электроприборы, тем больше потребляем энергии.
              Соответственно и платим больше. Эта зависимость выражается формулой П=к*N, где к- стоимость одного киловатт-часа,
               N- количество часов.</p>
               <img src="static\img\electricity.png">
        
        <p> Движение физического тела с постоянной скоростью.

            Всем нам периодически приходится быть участниками движения. Расстояние при движении с постоянной скоростью зависит от времени движения,
             чем дольше мы находимся в пути, тем большее расстояние пройдем.
              Данные величины связаны следующей формулой: S=vt ( v- скорость движения, t- время движения).</p>
              <img src="static\img\move.png">
        </div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>