<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Логарифмическая функция</p></div>
        <article id="whois">
        <div class="z2"><p>Основная информация</p></div>
        <div class=" minf">Функция, задаваемая формулой y=logₐx, 
            называется логарифмической,
            где a > 0 и a ≠ 1.
        <br></div>
        <div class="z2"><p>исследование функции</p></div>
    <article id="gallery"></article>
    <div class=" minf">
        <p>1. Область определения D(y)=(0;+). </p>
        <p>2. Множество значений: E(y)=R</p>
        <p> 3. Не является ни четной ни нечетной</p>
        <p>4. Нули функции  x = logₐ1, </p>
        <p> 5. Промежутки знакопостоянства. Если a > 1, то функция положительна и отрицательна при 0 < x < 1.</p>
        <p>6. Промежутки монотонностифункции: Функция будет возрастать при a > 1 и убывать при  0 < x < 1.</p>
        <p>7.  Точек экстремумы функции не имеет.</p>
        <p>8. Наибольших и наименьших значений нет.</p>
        
        <img src="static\img\log_func.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>Примеры применения логарифмической функции в жизни:</p>

        <p>1. Физика: в физике часто используется логарифмическая шкала для измерения звукового давления в децибелах.</p>

        <p>2. Инженерия: В инженерии логарифмические функции применяются для описания величин, которые изменяются экспоненциально или для упрощения сложных математических моделей.</p>

            <p>3. Финансы: Логарифмические функции используются в финансовых расчетах, например, для оценки сложного процента или для моделирования финансовых рынков.</p>

                <p>4.Компьютерная наука: В области информационных технологий логарифмические функции широко применяются при анализе производительности алгоритмов и оценке их сложности.</p>
                <p>4.Медицина: В медицине логарифмические шкалы используются для оценки уровней pH в организме, в измерениях интенсивности звука и света.</p>
            </div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "js\project_js.js"></script>
</body>
    
</html>