<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Логарифмическая функция</p></div>
        <article id="whois">
        <div class="z2"><p>Определение </p></div>
        <div class=" minf">Функция, заданная формулой вида y=logₐx,
            называется логарифмической,
            где a > 0 и a ≠ 1, x > 0.
        <br></div>
        <div class="z2"><p>Исследование логарифмической функции</p></div>
    <article id="gallery"></article>
    <div class=" minf">
        <p><b>0<  a < 1</b>, (например y = log₀.₅1) </p>
        <p>1. D(y)=(0;+∞). </p>
        <p>2. E(y)=R.</p>
        <p> 3. Функция не является ни четной ни нечетной, не периодическая.</p>
        <p>4.Нули функции:  x=1,
        график функции пересекает ось Ох в точке с абсциссой 1.
        </p>
        <p>Так как x≠0 то график не пересечет ось Oу так как x>0 то график лежит в I и IV координатной четвертях.</p>
        <p> 5. y < 0 x∈(1; +∞)</p> <p>ㅤy > 0 x∈(0; 1).</p>
        <p>6. x₂>x₁ =>f(x₂) < f(x₁). Функция монотонно убывает.</p>
        <p>7.  Точек экстремумы функции не имеет.</p>
        <p>8. Наибольших и наименьших значений нет.</p>
        <img src="static\img\log_func0.PNG">
        
        
    </div>
    <div class=" minf">
        <p><b>a > 1</b>, (например y = log₂1)</p>
        <p>1. D(y)=(0;+∞). </p>
        <p>2. E(y)=R.</p>
        <p> 3. Функция не является ни четной ни нечетной, не периодическая.</p>
        <p>4. Нули функции: x=1,
        график функции пересекает ось Oх в точке с абсциссой 1.
        </p>
        <p>Так как x≠0 то график не пересечет ось Oу так как x>0 то график лежит в I и IV координатной четвертях.</p>
        <p> 5. y > 0 x∈(1; +∞),</p>
        <p>ㅤy < 0 x∈(0; 1).</p>
        <p>6. Промежутки монотонности функции: x₂>x₁ =>f(x₂) > f(x₁). Функция монотонно возрастает.</p>
        <p>7.  Точек экстремумы функции не имеет.</p>
        <p>8. Наибольших и наименьших значений нет.</p>
        <img src="static\img\log_func1.PNG">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">

<div class="minf">
            <p>1. <b>Логарифмическая спираль или изогональная спираль</b> — особый вид спирали, часто встречающийся в природе. Логарифмическая спираль
описывается уравнением r=аᵠ, где
 r — расстояние от точки, вокруг
которой закручивается спираль (ее
называют полюсом), до
произвольной точки на спирали, ф
— угол поворота относительно
                полюса, а — постоянная.</p>

<p>Спираль называется
логарифмической, т.к. логарифм
расстояния (logₐr) возрастает
пропорционально углу поворота ф.</p>
        <img src="static\img\log_spyral.png">
        <p>Раковины морских животных и улиток закручены по логарифмической спирали.</p>
        <img src="static\img\log_nautilus.png">
        <p>Цепочки молекулы ДНК закручены по логарифмической спирали.</p>
        <img src="static\img\log_dna.png">
        <p>Траектории насекомых, летящих на свет, также описывают логарифмическую спираль.</p> 
        <img src="static\img\Schematic_trajectory_of_a_flying_to_the_light_of_an_insect.png">
        <p>Схематическая траектория летящего на свет насекомого, сохраняющего постоянный угол к лучам света (логарифмическая спираль).</p>
            
            </div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>