<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\project" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Логарифмическая функция</p></div>
        <article id="whois">
        <div class="z2"><p>Основная информация</p></div>
        <div class=" minf">Функция, задаваемая формулой y=logₐx, 
            называется логарифмической,
            где a > 0 и a ≠ 1.
        <br></div>
        <div class="z2"><p>исследование функции</p></div>
    <article id="gallery"></article>
    <div class=" minf">
        <p>0<  a < 1; x = log₀.₅1, </p>
        <p>1. Область определения D(y)=(0;+). </p>
        <p>2. Множество значений: E(y)=R</p>
        <p> 3. Не является ни четной ни нечетной, не периодическая</p>
        <p>4. Нули функции  x=1, y=0
        график функции пересекает ось ох в точке с абсциссой 1.    
        </p>
        <p>так как x≠0 то график не пересечет ось оу так как x>0 то график лежит в I и IV координатной четвертях</p>
        <p> 5. Промежутки знакопостоянства. y < 0 x∈(1; +∞); y > 0 x∈(0; 1)</p>
        <p>6. Промежутки монотонности функции: x₂>x₁ =>f(x₂) < f(x₁). Функция монотонно убывает</p>
        <p>7.  Точек экстремумы функции не имеет.</p>
        <p>8. Наибольших и наименьших значений нет.</p>
        
        
        
    </div>
    <div class=" minf">
        <p>a > 1; x = log₀.₅1, </p>
        <p>1. Область определения D(y)=(0;+). </p>
        <p>2. Множество значений: E(y)=R</p>
        <p> 3. Не является ни четной ни нечетной, не периодическая</p>
        <p>4. Нули функции  x=1, y=0
        график функции пересекает ось ох в точке с абсциссой 1.    
        </p>
        <p>так как x≠0 то график не пересечет ось оу так как x>0 то график лежит в I и IV координатной четвертях</p>
        <p> 5. Промежутки знакопостоянства. y > 0 x∈(1; +∞); y < 0 x∈(0; 1)</p>
        <p>6. Промежутки монотонности функции: x₂>x₁ =>f(x₂) > f(x₁). Функция монотонно возрастает</p>
        <p>7.  Точек экстремумы функции не имеет.</p>
        <p>8. Наибольших и наименьших значений нет.</p>
        <img src="static\img\log_func.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>Примеры применения логарифмической функции в жизни:</p>

        <p>1. Логарифмическая спираль или изогональная спираль — особый вид спирали, часто встречающийся в природе.</p>
        <img src="static\img\log_spyral.png">
        <p>Раковины морских животных и улиток закручены по логарифмической спирали.</p>
        <img src="static\img\log_nautilus.png">
        <p>Цепочки молекулы ДНК закручены по логарифмической спирали.</p>
        <img src="static\img\log_dna.png">
        <p>Траектории насекомых, летящих на свет, также описывают логарифмическую спираль.</p> 
        <img src="static\img\Schematic_trajectory_of_a_flying_to_the_light_of_an_insect.png">
        <p>Схематическая траектория летящего на свет насекомого, сохраняющего постоянный̆ угол к лучам света (логарифмическая спираль).</p>
            
            </div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>