<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
    <div class="z1"><p>Степенная функция</p></div>
        <article id="whois">
        <div class="z2"><p>Определение</p></div>
        <div class=" minf"><p>Функция, заданная формулой вида y = kxⁿ,
            называется степенной.</p>
            <p>Здесь k играет роль некоторого коэффициента, отличного от нуля.</p>
            <p>n может быть как целым числом, так и неправильной дробью.</p>
        <br></div>

    <article id="gallery"></article>
        <div class="z2"><p>Исследование степенной функции</p></div>
    <div class=" minf"><p>1. D(y)=R. </p>
        <p>2. E(y)=R.</p>
        <p> 3. Функция нечетная, D(y) симметрична относительна начала отсчета.</p>
        <p>4.  x = 0 при k ≠ 0.</p>
        <p>5. y < 0 при, при x∈(-∞; 0).</p>
        <p>ㅤy > 0 при, при x∈(0; +∞).</p>
        <p>6.Возрастает на всей D(y), функция монотонно возрастающая.</p>
        <p>7.Точек экстремума и экстремумов функция не имеет.</p>
        <p>8.Наибольших и наименьших значений функция не имеет.
        </p>
        <img src="static\img\power_func.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">

        <div class="minf">
            <p>1. <b>Экономика:</b> cтепенные функции применяются в экономике для моделирования спроса и предложения.</p>
        <p>Для моделирования закона спроса обычно используют степенную функцию, выражающую зависимость количества товара, от цены этого товара. Формула спроса имеет вид
            Q = a * P^b, где Q - количество товара, P - цена товара, а и b - коэффициенты, которые определяют,
            насколько изменение цены влияет на изменение количества спроса.
        Аналогично, для моделирования закона предложения также часто используют степенные функции.
            Формула предложения может иметь вид Q = c * P^d, где Q - количество товара, P - цена товара, c и d - коэффициенты</p>

            <p>2. <b>Биология:</b> в биологии степенные функции могут использоваться для описания роста популяции организмов или распределения ресурсов в экосистеме.</p>
            <img src="static\img\bio_func.png">
            <p>3. <b>Технические науки:</b> в инженерии степенные функции могут применяться для анализа электрических цепей и распределения тепла.</p></div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>