<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Определение</p></div>
        <article id="whois">
        <div class="z2"><p>Основная информация</p></div>
        <div class=" minf">Функция, задаваемая формулой y = kxⁿ, 
            называется степенной.
            Здесь k играет роль некоторого коэффициента, отличного от нуля.
            n может быть как целым числом, так и неправильной дробью
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>исследование функции</p></div>
    <div class=" minf"><p>1. Область определения D(y)=R. </p>
        <p>2. Множество значений: E(y)=R.</p>
        <p> 3. Функция нечетная, D(y) симметрична относительна начала отсчета</p>
        <p>4. Нули функции будут только в точке x = 0 так как нули функции могут быть только при k ≠ 0.        </p>
        <p> 5. Промежутки монотонности функции: Функция будет убывать при (n > 0) и возрастать при (x < 0).</p>
        <p>6.Точки экстремума и экстремумы функции: Поскольку 
            a
             нечетное, у функции может не быть точек экстремума.</p>
        <p>7.Наибольшее и наименьшее значение функции: Наибольшее значение функции зависит от знака и значения k при фиксированном a Например,
             если (k > 0) и (n > 1), то наибольшее значение будет при x = +
            ∞
            . Если (k < 0) и (n < 1), то наибольшее значение будет в точке x = 0 Наименьшее значение зависит от знака k 
        </p>
        <img src="static\img\power_func.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>Примеры применения степенной функции в жизни:</p>


        <p>1. Экономика: Степенные функции применяются в экономике для моделирования спроса и предложения.</p>

            <p>2. Биология: В биологии степенные функции могут использоваться для описания роста популяции организмов или распределения ресурсов в экосистеме.</p>
            <img src="static\img\bio_func.png">
                <p>3. Технические науки: В инженерии степенные функции могут применяться для анализа электрических цепей и распределения тепла.</p></div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>