<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
   <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Степенная функция</p></div>
        <article id="whois">
        <div class="z2"><p>Основная информация</p></div>
        <div class=" minf">Функция, задаваемая формулой y = kxᵃ, 
            называется степенной.
            Здесь k играет роль некоторого коэффициента, отличного от нуля.
            a может быть как целым числом, так и неправильной дробью
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>исследование функции</p></div>
    <div class=" minf"><p>1. Область определения D(y)=R. </p>
        <p>2. Множество значений: E(y)=R.</p>
        <p> 3. D(y) симметрична относительна начала отсчета</p>
        <p>4. нули функции y = 0 при x = 0</p>
        <p> 5. Промежутки знакопостоянства. Знак функции 
            y < 0 при x ∈ (-∞;0)
            y > 0 при x ∈ (0;+∞)</p>
        <p>6.промежутки монотонности. Функция возрастает на всей D(y) x2>x1 => y(x2)>y(x1)</p>
        <p>7. Точки экстемума и экстремум функции нет</p>
        <img src="\static\img\power_func.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>Примеры применения степенной функции в жизни:</p>

        <p>Физика: Степенные функции используются для описания многих физических явлений. Например, закон Гука, описывающий упругость материала, выражается степенной функцией.</p>

        <p>2. Экономика: Степенные функции применяются в экономике для моделирования спроса и предложения.</p>

            <p>3. Биология: В биологии степенные функции могут использоваться для описания роста популяции организмов или распределения ресурсов в экосистеме.</p>

                <p>4. Технические науки: В инженерии степенные функции могут применяться для анализа электрических цепей и распределения тепла.</p></div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "js\project_js.js"></script>
</body>
    
</html>