<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Виды функций</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Алгоритм исследования функции</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Функции</p></div>
        <article id="whois">
        <div class="z2"><p>Основная информация</p></div>
        <div class=" minf"><p>Определение функции – функцией называется зависимость одной величины y от другой величины x,
             при которой каждому значению переменной x соответствует единственное значение y.</p>
        <p>Обозначение: y = f(x)</p>
            <p>x - независимая переменная или аргумент.</p>
            <p> y - зависимая переменная или функция от x.</p>
            <p>Пример:</p>
            <img src="static\img\func_notfunc.png">
            <img src="static\img\func_notfunc2.png">
        </p>
        <p>
            График функции - множество точек координатной плоскости, абсциссы которых равны значениям аргумента,
             а ординаты равны соответствующим значениям функции.
        </p>
        <p>Пример:</p>
            <img src="static\img\graf_nograf.png">
        </div>
        <div class="z2"><p>Область определения и множество значений</p></div>
        <div class = " minf">
            
        
        <p>
            Областью определения функции называют множество всех допустимых значений аргумента, при которых функция имеет смысл.</p>
            <p>обозначается как D(y).</p>
        </p>
        <p>Область допустимых значений функции называют те значения функции, для которых значение аргумента определено.</p>
        <p>обозначается как E(y).</p>
        </div>
    <article id="history">
    <div class="z2"><p>Виды функций</p></div>
    <div class = "main">
        <div class="grid">
            <div class="card"><b>Линейная функция</b>
                <div class="square"></div>
                <p>формула: y = kx+b</p>
                <p>график: прямая
                </p>
                <a href="\line_func" class="card-button">Перейти</a>
            </div>
            <div class="card"><b>Квадратичная функция</b>
                <div class="square"></div>
                <p>формула: y = ax²+bx+c</p>
                <p>график: парабола
                </p>
                <a href="\quadratic_func" class="card-button">Перейти</a>
            </div>
            <div class="card"><b>Степенная функция</b>
                <div class="square"></div>
                <p>формула: y = kxⁿ</p>
                <p>график: парабола
                </p>
                <a href="\power_func" class="card-button">Перейти</a>
            </div>
            <div class="card"><b>Дробно-линейная функция</b>
                <div class="square"></div>
                <p>формула: y = ax+b/cx+d</p>
                <p>график: гипербола</p>
                <a href="\fractional_linear_func" class="card-button">Перейти</a>
            </div>
            <div class="card"><b>Показательная функция</b>
                <div class="square"></div>
                <p>формула: y = aˣ</p>
                <p>график: экспонента</p>
                <a href="\exponential_func" class="card-button">Перейти</a>
            </div>
            <div class="card"><b>Логарифмическая функция</b>
                <div class="square"></div>
                <p> формула:y=logₐx</p>
                <p>график: Логарифмическая кривая</p>
                <a href="\logarithmic_func" class="card-button">Перейти</a>
            </div>
            <div class="card"><b>Тригонометрическая функция</b>
                <div class="square"></div>
                <p>формула: y = sin x или y = cos x</p> <p>или y = tg x или y = ctg x</p>
                <p>график: Синусоида или Тангенсоида</p>
                <a href="\trigonometric_func" class="card-button">Перейти</a>
            </div>
        </div>
    </article>
    </div>
    </div>
    <article id="gallery"></article>
        <div class="z2"><p>Алгоритм исследования функции:</p></div>
    <div class=" minf"><p>1. Область определения функции.</p>
        <p>2. Множество значений функции.</p>
        <p>3. Четность функции.</p>
        <p>4. Периодичность функции.</p>
        <p>5. Нули функции.</p>
        <p>6. Промежутки знакопостоянства функции.</p>
        <p>7. Промежутки монотонности функции (промежутки возрастания и убывания функции).</p>
        <p>8. Точки экстремума и экстремумы функции: точки максимума и минимума функции, максимум и минимум функции.</p>
        <p>9. Наибольшее и наименьшее значение функции.</p>
    </div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>