<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Квадратичная функция</p></div>
        <article id="whois">
        <div class="z2"><p>Определение</p></div>
        <div class=" minf">Функция, задаваемая формулой y = ax² + bx + c (a ≠ 0), 
            называется квадратичной.
            a — старший коэффициент. Отвечает за ширину параболы.
             Чем больше значение |а|, тем меньше ширина параболы.
              b — второй коэффициент. Отвечает за смещение параболы от начала координат. 
            c — свободный член, соответствует ординате точки пересечения параболы с осью oy.
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>исследование функции</p></div>
        <p>При a>0</p>
    <div class=" minf"><p>1. D(y)=R. </p>
        <p>2. E(y)=R.</p>
        <p> 3. Четность, нечетность. Функция не является ни четной, ни нечетной</p>
        <p>4. Нули функции: нули функции - корни уравнения
            ax² + bx + c = 0</p>
        <p> 5. Промежутки знакопостоянства. Функция будет положительной на промежутках, где (a > 0) и отрицательной, где (a < 0).</p>
             <p>y > 0 при x∈(-∞;x1)U(x2; +∞). y < 0 при x∈(x1;x2)  </p>
        <p> 5. Промежутки монотонности. Если a>0, то функция убывает на промежутке (-∞;хв) и возрастает на (хв;+∞). (xв - х вершины параболы) </p>
        <p>6.Точки экстемума. x min = 0; y min = y(x min) = 0</p>
        <p>7. Наибольшие и наименьшие значения min y(x) = 0</p>
        <img src="static\img\quadratic_func.png">
    </div>

    <div class="z2"><p>исследование функции</p></div>
    
    <div class=" minf"><p>При a < 0 </p>
        <p>1. D(y)=R. </p>
        
        <p>2. E(y)=R.</p>
        <p> 3. Четность, нечетность. Функция не является ни четной, ни нечетной</p>
        <p>4. Нули функции: нули функции - корни уравнения
            ax² + bx + c = 0</p>
        <p> 5. Промежутки знакопостоянства. Функция будет положительной на промежутках, где (a > 0) и отрицательной, где (a < 0).</p>  <p>y < 0 при x∈(-∞;x1)U(x2; +∞). y > 0 при x∈(x1;x2)  </p>
        <p> 5. Промежутки монотонности. Если a< 0, то функция возрастает на промежутке (-∞;хв) и убывает на (хв;+∞) </p>
        <p>6.Точки экстемума. x min = 0; y min = y(x min) = 0</p>
        <p>7. Наибольшие и наименьшие значения min y(x) = 0</p>
        <img src="static\img\quadratic_func-.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>Примеры применения квадратичной функции в жизни:</p>

        <p>Зависимость перемещения тела от времени при равноускоренном движении прямо пропорционально квадрату времени движения.</p>
        <img src="static\img\equidistant_motion.gif">

        <p>Параболическая антенна - это тип антенны, который широко используется для направленных радиосвязей и радиолокации. Ее основным элементом является параллелепипедальная параболическая отражающая поверхность,
             которая фокусирует электромагнитные волны в пучок. Этот эффект позволяет увеличить дальность и точность связи.</p>
             <img src="static\img\antenna.png">

 <p>Оптическое свойство параболы: все лучи, исходящие из источника света, находящегося
 в фокусе параболы, после отражения оказываются направленными параллельно ее оси.
  Это свойство используется при изготовлении прожекторов, автомобильных фар, карманных фонариков.</p>
  <img src="static\img\optic.gif"></div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>