<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
  <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Квадратичная функция</p></div>
        <article id="whois">
        <div class="z2"><p>Основная информация</p></div>
        <div class=" minf">Функция, задаваемая формулой y = ax² + bx + c (a ≠ 0), 
            называется квадратичной.
            a — старший коэффициент. Отвечает за ширину параболы.
             Чем больше значение а, тем меньше ширина параболы. Обязательное условие: а≠0. 
             В противном случае функция перестает быть квадратичной и становится линейной.
              b — второй коэффициент. Отвечает за смещение параболы от центра координат. 
            c — свободный член, соответствует координате пересечения параболы с осью координат.
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>исследование функции</p></div>
    <div class=" minf"><p>1. Область определения D(y)=(−∞, + ∞). </p>
        <p>2. Множество значений: E(y)=[0;+∞) .</p>
        <p> 3. Четность, нечетность. Функция четная, симметрична относительна начала отсчета</p>
        <p>4. Нули функции y = 0 при x = 0</p>
        <p> 5. Промежутки знакопостоянства. y>0 при x∈(-∞;0)U(0;+∞)  </p>
        <p> 5. Промежутки монотонности. Возрастает при x∈[0;+∞) Убывает при x∈(-∞;0) </p>
        <p>6.Точки экстемума. x min = -0; y min = y(x min) = 0</p>
        <p>7. Максимальные и минимальные значения min y(x) = 0</p>
        <img src="..\projectall1\img\quadratic_func.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>Примеры применения квадратичной функции в жизни:</p>

        <p></p>Зависимость перемещения тела от времени при равноускоренном движении прямо пропорционально квадрату времени движения.

        <p>Зависимости мощности электрического тока при постоянном сопротивлении, угла поворота при равнопеременном движении,
 кинетической энергии и другие формулы, связывающие различные физические величины.</p>

 <p>Оптическое свойство параболы: все лучи, исходящие из источника света, находящегося
 в фокусе параболы, после отражения оказываются направленными параллельно ее оси.
  Это свойство используется при изготовлении прожекторов, автомобильных фар, карманных фонариков.</p></div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "js\project_js.js"></script>
</body>
    
</html>