<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Квадратичная функция</p></div>
        <article id="whois">
        <div class="z2"><p>Определение</p></div>
        <div class=" minf">Функция, заданная формулой вида y = ax² + bx + c (a ≠ 0),
            называется квадратичной.</p>
            <p>a (старший коэффициент) — отвечает</p> <p>за направление ветвей:</p>
            <p>-если а > 0, то ветви параболы направлены вверх,</p> <p>-если a < 0, то ветви параболы направлены вниз. </p> <p>за ширину параболы:</p>
             <p>-чем больше значение |а|, тем меньше ширина параболы.</p>
             <p> b (второй коэффициент) — отвечает</p> <p>за смещение параболы от начала координат.</p>
            <p>c (свободный член) — соответствует</p> <p>ординате точки пересечения параболы с осью Oy.</p>
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>Исследование квадратичной функции</p></div>

    <div class=" minf"><p>При a > 0</p>
        <p>1. D(y)=R. </p>
        <p>2. E(y)=R.</p>
        <p> 3. Функция не является ни четной, ни нечетной.</p>
        <p>4. Нули функции x1 и x2 - корни уравнения
            ax² + bx + c = 0. </p>
        <p> 5. y > 0 при x∈(-∞;x1)U(x2; +∞).</p>
        <p>ㅤy < 0 при x∈(x1;x2)</p>

        <p> 6. Возрастает на промежутке (хв; +∞) и убывает на промежутке (-∞; хв) .</p> <p>(xв - абсцисса вершины параболы). </p>
        <p>7. x min = хв. y min = y(xв).</p>
        <p>8. Наименьшее значение функции y(хв), наибольшего значения функция не имеет.</p>
        <img src="static\img\quadratic_func.png">
    </div>
    
    <div class=" minf"><p>При a < 0:</p>
        <p>1. D(y)=R. </p>
        <p>2. E(y)=R.</p>
        <p> 3. Функция не является ни четной, ни нечетной.</p>
        <p>4. Нули функции x1 и x2 - корни уравнения
            ax² + bx + c = 0.</p>
        <p> 5. y > 0 при x∈(x1;x2).</p>
        <p>ㅤy < 0 при x∈(-∞;x1)U(x2; +∞)</p>
        <p> 6. Возрастает на промежутке (-∞;хв) и убывает на (хв;+∞).</p>
        <p>7. x max = хв; y max = y(x max).</p>
        <p>8. Наибольшее значение функции y(хв), наименьшего значения функция не имеет.</p>
        <img src="static\img\quadratic_func-.png">
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf">

        <p><b>зависимость перемещения тела от времени при равноускоренном движении прямо пропорционально квадрату времени движения.</b></p>
        <img src="static\img\equidistant_motion.gif">

        <p><b>Парабола в архитектуре.</b></p>
        <img src="static\img\metro.png">

        <p><b>Параболическая антенна</b> - это тип антенны, который широко используется для направленных радиосвязей и радиолокации. Ее основным элементом является параллелепипедальная параболическая отражающая поверхность,
             которая фокусирует электромагнитные волны в пучок. Этот эффект позволяет увеличить дальность и точность связи.</p>
             <img src="static\img\antenna.png">

        <p><b>Оптическое свойство параболы:</b> все лучи, исходящие из источника света, находящегося
 в фокусе параболы, после отражения оказываются направленными параллельно ее оси.
  Это свойство используется при изготовлении прожекторов, автомобильных фар, карманных фонариков.</p>
  <img src="static\img\optic.gif"></div>
</div>
    <div class ="z2"><p>Интересный факт</p></div>
        <div class=" minf"><p>В известном научно-фантастическом фильме СССР "Гиперболоид инженера Гарина" возникает сомнение в наличии самой конструкции
            этого фантастического оружия гиперболоида как поверхности вращения, а в фильме, показана конструкция, использующая эллиптический параболоид,
            так что с точки зрения математики фильм назван неверно.</p>
            <img src="static\img\garin.gif"></div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>