<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Тригонометрическая функция</p></div>
        <article id="whois">
        <div class="z2"><p>Основная информация</p></div>
        <div class=" minf">Функция заданная формулой вида y = sin(x) / y=cos(x) / y=tg(x) / y=ctg(x)
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>исследование функции</p></div>
        
    <div class=" minf"><p>y = sin(x)</p>
        <p>1. Область определения – x ∈(− ∞, + ∞). </p>
        <p>2. Множество значений: E(y)=[-1;1].</p>
        <p> 3. если sin(-x) = -sin(x) и D(y) симметрична относительно 0, то функция нечетная
        </p>
        <p>4. sin(2π+x) = sin(x) - функция переодическая с периодом 2π</p>
        <p>5. Нули функции: πn; n∈Z; sin(x)=0; x=πn n∈Z </p>
        <p>6. Промежутки знакопостоянства
            y>0 при x∈(0+2πn; 2π+2πn) n∈Z
        </p>
        <p>7. точки экстремумы и экстремумы функции x макс=π/2+2πn; n∈Z</p>
            <p>y макс = 1
        sin(x)=1
        x=π/2+2πn; n∈Z</p>
        <p>x мин=-π/2+2πn; n∈Z</p>
    </p>
        <p>8. промежутки возрастания и убывания
            возрастает на [π/2+2πn;-π/2+2πn] n∈Z
            убывает на [π/2+2πn;3π/2+2πn] n∈Z
        </p>
        <img src="static\img\sin_func.png">
        <p>y = cos(x)</p>
        <p>1. Область определения – x ∈(− ∞, + ∞). </p>
        <p>2. Множество значений: E(y)=[-1;1].</p>
        <p> 3. четная
        </p>
        <p>4. cos(2π+x) = cos(x) - функция переодическая с периодом 2π</p>
        <p>5. функция принимает значение, равное 0 при x=π/2+πn; n∈Z
            равное 1 при x=2πn; n∈Z </p>
        <p>6. Промежутки знакопостоянства
            y>0 при x∈(-π/2+2πn; π/2+2πn) n∈Z
        </p>
        <p>7. точки экстремумы и экстремумы функции x макс=2π+2πn; n∈Z
            y макс = 1
            y мин = -1
        sin(x)=1
        x=π/2+2πn; n∈Z  
        x мин=π+2πn; n∈Z
    </p>
        <p>8. промежутки возрастания и убывания
            возрастает на [π+2πn; 2π+2πn] n∈Z
            убывает на [0+2πn; 2π+2πn] n∈Z
        </p>
        <img src="static\img\cos_func.png">
        <p>y = tg(x)</p>
        <p>1. Область определения – x ∈(− ∞, + ∞). x≠π/2+πn; n∈Z </p>
        <p>2. Множество значений: E(y)∈R.</p>
        <p> 3. нечетная
        </p>
        <p>4. tg(π+x) = tg(x) - функция переодическая с периодом π</p>
        <p>5. нули функции. y = 0 при x=πn; n∈Z
        </p>
        <p>6. Промежутки знакопостоянства
            y > 0 при x∈(-π/2+πn; π/2+πn) n∈Z;
            y < 0 при x∈(-π/2+πn; π/2+πn) n∈Z
        </p>
        <p>7. точек экстремум и экстремумов функции не имеет, наибольших и наименьших значений не имеет
    </p>
        <p>8. промежутки монотонности
            возрастает на [-π/2+πn; π/2+πn] n∈Z
            на всей D(y) => функция возрастающая
        </p>
        <img src="static\img\tan_func.png">
        <p>y = сtg(x)</p>
        <p>1. Область определения – x ∈(− ∞, + ∞). x≠πn; n∈Z </p>
        <p>2. Множество значений: E(y)∈R.</p>
        <p> 3. нечетная
        </p>
        <p>4. tg(π+x) = tg(x) - функция переодическая с периодом π</p>
        <p>5. нули функции. y = 0 при x=π/2+πn; n∈Z
        </p>
        <p>6. Промежутки знакопостоянства
            y > 0 при x∈(0+πn; π/2+πn) n∈Z;
            y < 0 при x∈(π/2+πn; π+πn) n∈Z
        </p>
        <p>7. точек экстремум и экстремумов функции не имеет, наибольших и наименьших значений не имеет
    </p>
        <p>8. промежутки монотонности
            убывает на [0+πn; π+πn] n∈Z
        </p>
        <img src="static\img\cot_func.png">
    </div>
        
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
    <div class ="minf"><p>Тригонометрия или тригонометрические функции используются в астрономии
         (особенно для расчётов положения небесных объектов), когда требуется сферическая тригонометрия,
          в морской и воздушной навигации, в теории музыки, в акустике, в оптике, в анализе финансовых рынков,
           в электронике, в теории вероятности, в статистике, в биологии, в медицинской визуализации, например,
            компьютерной томографии и ультразвук, в аптеках, в химии, в теории чисел, в сейсмологии, в метеорологии.</p></div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "js\project_js.js"></script>
</body>
    
</html>