<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset =" UTF-8">
    
    <title></title>
    <link rel = "stylesheet" href="static/css/style.css">
</head>
<body>
    <div class = mainborder>
        <header class="mainheader">
        
        <div class = "navigate"><nav>
                <ul class="mainnav-list">
                    <div class = "n"><li>Разделы сайта:</li></div>
                    <li class="mainnav-item"><a href="#whois" class="mainnav-link">Основная информация</a></li>
                    <li class="mainnav-item"><a href="#gallery" class="mainnav-link">Исследование функции</a></li>
                    <li class="mainnav-item"><a href="#history" class="mainnav-link">Применение в жизни</a></li>
                    <li class="mainnav-item"><a href="\" class="mainnav-link">Назад</a></li>
                </ul>
            </nav></div>
            </header>
        <div class="z1"><p>Тригонометрическая функция</p></div>
        <article id="whois">
        <div class="z2"><p>Определение</p></div>
        <div class=" minf">Функция заданная формулой вида y = sin(x) / y=cos(x) / y=tg(x) / y=ctg(x)
        <br></div>
    
    <article id="gallery"></article>
        <div class="z2"><p>Исследование тригонометрических функций</p></div>
        
    <div class=" minf"><p><b>y = sin x</b></p>
        <p>1. D(y)=R. </p>
        <p>2. E(y)=[-1;1].</p>
        <p> 3. Функция нечетная
        </p>
        <p>4. sin(2π+x) = sin x - функция периодическая с основным периодом 2π</p>
        <p>5. Нули функции: πn; n∈Z</p>
        <p>6. Промежутки знакопостоянства
        <p>ㅤy>0 при x∈(0+2πn; π+2πn) n∈Z</p>
            <p>ㅤy<0 при x∈(π+2πn; 2π+πn) n∈Z</p>
        </p>
        <p>7. Промежутки монотонности</p>
            <p>ㅤвозрастает на [-π/2+2πn;π/2+2πn] n∈Z</p>
            <p>ㅤубывает на [π/2+2πn;3π/2+2πn] n∈Z</p>
        </p>
        <p>8. Точки экстремумы и экстремумы функции</p>
            <p>x max=π/2+2πn,
                y max = 1; n∈Z
            </p>
        <p>x min=-π/2+2πn, y min = -1 ; n∈Z</p>
    </p>

        <img src="static\img\sin_func.png">
    </div>

       <div class=" minf"><p><b>y = cos x</b></p>
        <p>1. D(y)=R. </p>
        <p>2. E(y)=[-1;1].</p>
        <p> 3. Функция четная.
        </p>
        <p>4. cos(2π+x) = cos x  - функция периодическая с основным периодом 2π</p>
        <p>5. Нули функции: π/2+πn; n∈Z.</p>
           <p>6. Промежутки знакопостоянства:</p>
           <p>ㅤy>0 при x∈(-π/2+2πn; π/2+2πn) n∈Z</p>
            <p>ㅤy<0 при x∈(π/2+2πn; 3π/2+2πn) n∈Z</p>
        </p>
        <p>7. Промежутки монотонности:</p>
            <p>ㅤубывает на [0+2πn; 2π+2πn]; n∈Z
        </p>
           <p>ㅤвозрастает на [π+2πn; 2π+2πn]; n∈Z</p>
        <p>8. Точки экстремумы и экстремумы функции: </p>
            <p>ㅤx max=2πn; n∈Z, y max = 1</p>
            <p>ㅤx min=π+2πn; n∈Z, y min = -1</p>
    </p>

        <img src="static\img\cos_func.png">
       </div>
        <div class=" minf"><p><b>y = tg x</b></p>
        <p>1. D(y)=R. x≠π/2+πn; n∈Z </p>
        <p>2. E(y)=R.</p>
        <p> 3. Функция нечетная.
        </p>
        <p>4. tg(π+x) = tg x  - функция периодическая с основным периодом π.</p>
        <p>5. Нули функции: πn; n∈Z
        </p>
        <p>6. Промежутки знакопостоянства:</p>
            <p>ㅤy > 0 при x∈(0+πn; π/2+πn) n∈Z.</p>
           <p>ㅤy < 0 при x∈(π/2+πn; π+πn) n∈Z.</p>
        <p>7. Промежутки монотонности:</p>
            <p>возрастает на [-π/2+πn; π/2+πn] n∈Z => функция возрастающая.
        </p>
            <p>8. Точек экстремума и экстремумов функции не имеет. </p> <p>9. Наибольшего и наименьшего значения функция не имеет.
    </p>

        <img src="static\img\tan_func.png">
            </div>
        <div class=" minf"><p><b>y = сtg x</b></p>
        <p>1. D(y)=R; x≠πn; n∈Z </p>
        <p>2. E(y)=R.</p>
        <p> 3. Функция нечетная.
        </p>
        <p>4. ctg(π+x) = tg x  - функция периодическая с основным периодом π.</p>
        <p>5. Нули функции. π/2+πn; n∈Z
        </p>
            <p>6. Промежутки знакопостоянства:</p>
            <p>ㅤy > 0 при x∈(0+πn; π/2+πn) n∈Z;</p>
            <p>ㅤy < 0 при x∈(π/2+πn; π+πn) n∈Z.
        </p>
            <p>7. Промежутки монотонности:</p>
            <p>возрастает на [π/2+πn; π+πn] n∈Z.</p>
            <p>убывает на [0+πn; π+πn] n∈Z.
        </p>
        <p>8. Точек экстремума и экстремумов функции не имеет. </p> <p>9. Наибольшего и наименьшего значения функция не имеет.
    </p>

        <img src="static\img\cot_func.png">
    </div>
        
    </div>
    <div class="z2"><p>Применение в жизни</p></div>
        <article id="history">
            <div class ="minf"><p><b>В физике</b> — для описания колебательных процессов различной физической природы, напирмер, колебания маятника.</p>
        <img src="static\img\trig_spring.gif">
                <img src="static\img\fluctuations.gif">
                <p>Тригонометрические функции используются для <b>анализа звуковых волн</b>, создания музыкальных композиций, проектирования инструментов,
             а также в обработке аудио и создании спецэффектов в кино и музыкальных произведениях.</p>
             <img src="static\img\sound_wave.png">
        <p></p>
        <p></p>
    </div>
</div>
<div class="btn-up btn-up_hide">▲</div>
<script src = "static\js\project_js.js"></script>
</body>
    
</html>